:root {
  --backgroundColor: #F9FAFB;
  --elementColor: #FFFF;
  --altColor: #1C1917;
  --font: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"
}
#root{
  height: 100%;
}
body{
  background: var(--backgroundColor);
}

html,body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: var(--font);
}
.rootContainer,.indexContainer{
  height: inherit;
}
.rootContainer{
  display: flex;
  flex-direction: column;
}

.indexContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.indexContainer>div{
  width: fit-content;
  background: var(--elementColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}
.formContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  
}
.formContainer>Form{
  display: flex;
  flex-direction: column;
  background: var(--elementColor);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 1.5rem;
  gap: 20px;
  width: 100%;
  max-width: 24rem;
}
span {
  color: rgb(55 65 81);
}
.formContainer>Form>p {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(31 41 55);
  margin-bottom: 1.5rem;
  text-align: center;
}
.formContainer>Form>div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
input{
  padding: .5rem .75rem .5rem .75rem;
  border: 1px solid rgb(209 213 219);
  border-radius: 0.5rem;
}
nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: var(--elementColor);
}

nav div {
  display: flex;
  gap: 25px;
  padding: 25px;
}

nav>div:first-child>a:first-child{
  font-size:larger;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background: var(--altColor);
  color: var(--elementColor);
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
}
.error-page{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer{
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100%;
  justify-content: center;
}
.postContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.card>div:first-child{
  display: flex;
  flex-wrap: row;
  gap: 15px;
}
.loginMessage {
  border: 1px solid red;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  background: #FEE2E2;
  border-radius: 10px;
  margin: 20px;
}
.link {
  color: #DC2626;
}
