:root {
  --backgroundColor: #F9FAFB;
  --elementColor: #FFFF;
  --font: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"
}
#root{
  height: 100%;
}
body{
  background: var(--backgroundColor);
}

html,body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: var(--font);
}
.rootContainer,.indexContainer{
  height: 100%;
}

.indexContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.indexContainer>div{
  width: fit-content;
  background: var(--elementColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}
nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: var(--elementColor);
}

nav div {
  display: flex;
  gap: 25px;
  padding: 25px;
}

nav>div:first-child>a:first-child{
  font-size:larger;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: black;

}